@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

/* navbar */

.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}

/* welcome */

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-18%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500%;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.enterName {
  padding: 3rem;
}

/* introduction */

.header-container {
  font-size: 18px;
  overflow: hidden;
  color: black;
  font-family: SF-Pro-Regular;
  margin-bottom: 20%;
}
.inner-header-container {
  margin-top: 18%;
  margin-bottom: 0%;
}
.name {
  text-align: center;
  margin-bottom: 0.5%;
  font-size: 60px;
}
.position {
  text-align: center;
  margin-bottom: 3%;
  font-size: 18px;
  color: #7B7B7B;
  letter-spacing: .2px;
}
.aboutMe {
  text-align: center;
  width: 49%;
  font-size: 16px;
  margin-bottom: 3%;
  letter-spacing: 0.1px;
}

/* portfolio */

.flex-container {
    margin: 0% 2.3%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start; 
}
.long-card {
    position: relative;
    display: flex;
    margin: 3%;
    margin-bottom: 0%;
    width: 100%;
    height: 400px;
}

.long-card > .image{
    flex-grow: 1;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
.long-card .title{
    font-family: SF-Pro-Bold;
    font-size: 36px;
    color: white;
}
.long-card .role{
    font-family: SF-Pro-Bold;
    font-size: 15px;
    color: gray;
    margin-bottom: 5%;
    color: white;
}
.long-card .description{
    font-family: SF-Pro-Regular;
    font-size: 14px;
    color: white;
}
.two-short-cards {
    width: 100%;
    height: 400px;
    display: flex;
    margin: 3%;
    justify-content: space-between;
    margin-bottom: 6%;
}
.short-card {
    position: relative;
    display: flex;

    margin-bottom: 1%;
    min-width: 48%;
    height: 400px;
}
.short-card > .image{
    flex-grow: 1;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
.short-card .title{
    font-family: SF-Pro-Bold;
    font-size: 28px;
    color: white;
}
.short-card .role{
    font-family: SF-Pro-Bold;
    font-size: 16px;
    color: gray;
    margin-bottom: 5%;
    color: white;
}
.short-card .description{
    font-family: SF-Pro-Regular;
    font-size: 16px;
    color: white;
}
.neu {
    background-color: #8B0000;
}
.neu img {
    width: 180px;
    position: absolute;
    top: 13%;
    left: 6%;
}
.neu .body {
    width: 32%;
    position: absolute;
    top: 28%;
    left: 60%;
}
.marriott {
    background-color: #D3D3D3;
}
.marriott img {
    width: 220px;
    position: absolute;
    top: 38%;
    left: 64%;
}
.marriott .body {
    width: 40%;
    position: absolute;
    top: 24%;
    left: 8%;
}
.unc {
    background-color: #00BFFF;
}
.unc img {
    width: 200px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.unc .body {
    width: 40%;
    position: absolute;
    top: 28%;
    left: 55%;
}

/* Interest */

.padding {
  padding-bottom: 5rem;
}
.welcome {
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 50%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/* connect */

.connect {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}
.connect hr {
  border-top: 2px solid #b4b4b4;
  width: 50%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-linkedin {
  color: #1E90FF;
}
.fa-github {
  color: #696969;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-github:hover {
  color: #d5d5d5
}

/* footer */

.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    width:100%;
    padding:20px 0;
}
.footer p {
  text-align:center; 
}
